<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-img" href="#home">
				<img alt="Walgreens" src="./img/WBA.png">
			</div>
		</div>
	</div>
</nav>
